<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>582735679903-g98g9l8fge14d0cjo945omm4dj18vfj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582735679903-g98g9l8fge14d0cjo945omm4dj18vfj4</string>
	<key>API_KEY</key>
	<string>AIzaSyBVWfVrZVRf17QiHbqNWNP2rrmfswmlgnE</string>
	<key>GCM_SENDER_ID</key>
	<string>582735679903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qnary.react.native</string>
	<key>PROJECT_ID</key>
	<string>qnary-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>qnary-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582735679903:ios:db8ec11cca44d502</string>
	<key>DATABASE_URL</key>
	<string>https://qnary-dev.firebaseio.com</string>
</dict>
</plist>